<div class="container-fluid">
    <div class="row cpt-6 pb-4">
        <div class="col-lg-6 cpr-6 pb-4">
            <h1 class="pr-1">
                Reevaluate every other company that claims to be a partner
            </h1>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="row three-cols-second-row pt-4">
        <div class="col-lg-4 pr-4 pr-lg-4">
            <div class="opt-col">
                <h1 class="py-lg-4 my-lg-4 pl-2">We get <br> shit done.</h1>
            </div>
        </div>
        <div class="col-lg-4 pr-4">
            <div class="opt-col">
                <h1 class="pt-1 pb-1 pl-2">
                    We<br>
                    drive<br>
                    results —
                </h1>
            </div>
        </div>
        <div class="col-lg-4 pr-4">
            <div class="opt-col">
                <h1 class="pt-1 pb-1 pl-2">
                    When<br>
                    you win,<br>
                    we win —
                </h1>
            </div>
        </div>

    </div>
</div>