<div style="background-color: #ea0000;">
    <div class="container">
        <div class="row cpt-lg-6">
            <div class="col-lg-12">
                <div wmAnimate="fadeInRight" timing="0.2s" aos>
                    <h1 style="color: #ffffff;text-align: left" class="vc_custom_heading">The work we do,</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div wmAnimate="fadeInRight" timing="0.2s" aos>
                <h1 style="color: #000000;text-align: left" class="vc_custom_heading">and the brands we help.</h1>
            </div>
        </div>
    </div>
</div>

<app-works-card> </app-works-card>  