<div class="container">
    <div class="row">
        <div class="col work-card"  *ngFor="let project of projects">
            <div class="work-card-img">
                <img class="img-fluid" src="{{project.fields.projectThumbnail.fields.file.url}}">
            </div>
            <div class="work-card-title">
                <p>{{project.fields.projectName }} —</p>
            </div>
            <div class="work-card-content">
                <p>{{project.fields.projectBrief }}</p>
            </div>
            <div class="work-card-link">
                <h4 style="font-size: 22px;color: #252525;line-height: 25px;text-align: left" class="vc_custom_heading gray_arrow_after_heading">
                    <a href="/case-study-huvr/" class="dark">View Case Study</a>
                </h4>
            </div>
        </div>
      
    </div>
</div>