<div class="container" id="first_section">
    <div class="row">
        <div class="col-lg-5 dark pl-lg-0 pr-lg-5">
            <h2>HUVRdata</h2>
            <p class="pt-3">HUVR was founded to help asset owners maximize ROI through comprehensive digital maintenance and inspection flows.</p>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6 pl-lg-4 pt-3">
            <h5 style="font-size: 14px;color: #7f7f7f;line-height: 36px;">What we did</h5>
            <div class="row pl-3">
                <div class="col-lg-5 first"><p>Branding</p></div>
                <div class="col-lg-5 second"><p>Web Design</p></div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row pl-3">
                <div class="col-lg-6 third"><p>Growth hacking</p></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-lg-5">
        <div class="col-lg-12 px-lg-0">
            <img class="img-fluid" src="assets/images/Project-details-Cover-1536x845.png">
        </div>
    </div>
</div>
<div class="container">
    <app-red-bottom-row></app-red-bottom-row>
    <div class="row pt-lg-4"></div>
    <div class="row pt-5 pb-5"></div>
</div>