div#header.sticky { position: fixed; top: 0; width: 100%; background-color: #fff !important ; z-index: 10; }
@media screen and (min-width: 1260px){
    .navbar_sm , button.menu_button { display: none ; }
    div#header { 
        div.navbar > ul { width: 100% ; } 
        div.navbar ul li { list-style: none ; display: inline-block ; } 
        div.navbar ul li > a:hover { color: #414141 ; text-decoration: none ; } 
        div.navbar ul li > a { display: block ; padding: 0 18px ; font-size: 21px ; line-height: 31px ;} 
        div.navbar ul li:not(.navbar-btn ) > a.active::after { content: ''; border-radius: 50% !important;
            border: none !important; width: 8px !important; height: 8px; 
            display: block !important; margin: 0 auto; left: 47%; bottom: -6px !important; 
        } 
        li.navbar-btn { border: solid 2px ; border-radius: 5px ; padding: 6px 0px ; margin-left: 20px ; }
    }
    // default if not dark or not light
    div#header:not(.dark):not(.light) { 
        div.navbar ul li > a { color: #414141 ; } 
        li.navbar-btn {  color: #ff0000 ; border-color: #ff0000 ; }
        div.navbar ul li > a.active::after { background-color: #ff0000; }
    }
    div#header.dark , div#header.light.sticky { 
        div.navbar ul li > a { color: #414141 ; } 
        li.navbar-btn {  color: #ff0000 ; border-color: #ff0000 ; }
        div.navbar ul li > a.active::after { background-color: #ff0000; }
    }
    div#header.sticky { background-color: #fff !important ; }
    div#header.light:not(.sticky) { 
        div.navbar ul li > a { color: #fff ; } 
        li.navbar-btn {  color: #fff ; border-color: #fff; }
        div.navbar ul li > a.active::after { background-color: #fff; }
    }
}   
@media screen and (max-width: 1260px) {
    .navbar.lg { display: none ; }
    .navbar.sm { display: block ; }
    #header { padding-bottom: 20px ; margin-bottom: -1px ; }
}
// default if not dark or not light
div#header:not(.dark):not(.light) {  img.dark_logo { display: block ; } img.light_logo { display: none ; } }
div#header.dark , div#header.light.sticky {  img.dark_logo { display: block ; } img.light_logo { display: none ; } }
div#header.light:not(.sticky) {  img.dark_logo { display: none ; } img.light_logo { display: block ; } }
@media screen and (max-width: 1260px) {
    button.menu_button { display: block ; margin-left: auto; margin-right: 20px ; }
    .navbar_sm { position: fixed; left: 0; top: 0; z-index: 100; width: 80%; height: 100vh !important; display: block; background: #ff0000; 
        max-width: 350px ; padding-top: 4em ; transition: all 0.5s ease-in-out ; }
    .navbar_sm.hidden { transform: translateX(-100%); } 
    .navbar_sm.visable { transform: translateX(0%); } 
    div.sm_navbar_container ul li { list-style: none ; margin-top: 10px ; }
    div.sm_navbar_container ul li a { color: #fff ; font-size: 19px ; }
    div.close { width: 100% ; text-align: right ; color: #fff ; opacity: 1 ; position: relative ; top: -1em ; padding-right: 20px ; }
    div.close button { color: #fff ; opacity: 1 ; }
}