@media screen and (min-width: 999px) {
    .first_contact_page { padding-top: 130px ; }
    h6.custom_heading { font-size: 40px ; line-height: 55px ; }
    p.custom_p { font-size: 28px ; line-height: 35px ; }
}
@media screen and (max-width: 999px) and (min-width: 620px) {
    .first_contact_page { padding-top: 100px; }
    h6.custom_heading { font-size: 30px ; line-height: 40px ; }
    p.custom_p { font-size: 22px ; line-height: 28px ; }
}
@media screen and (max-width: 620px) {
    .first_contact_page { padding-top: 90px; }
    h6.custom_heading { font-size: 20px ; line-height: 30px ; }
    p.custom_p { font-size: 19px ; line-height: 25px ; }
}
.full-width-input { width: 90% ; }
form > button { font-family: SF-Pro-Display-Regular ; }
.mat-error { font-size: 15px ; }
form { height: 100% ; transition: all 0.8s ease ; overflow: hidden ; }
form.success { height: 0px !important  ; }
button.submit:hover:disabled { color: #fff !important ; }
.btn.disabled:hover , .btn:hover:disabled { color: #fff !important ; cursor: default ; }
