span.borderBottom { border-top: solid 1px #fff ; border-top: solid 1px #fff ; display: block; }
@media screen and (min-width: 999px){
    div.borderedBottomCol h3:nth-child(1) span.borderBottom { width: 44% ; margin-left: 8%; }
    div.borderedBottomCol h3:nth-child(2) span.borderBottom { width: 92% ; margin-right: 0; margin-left: auto ;}
}